$color_page: #ffffff;
$color_header: #fc5830;
$colot_border: #cfd8dc;
$color_text:#757575;
$article-title: #617d8a;
$post-description: #bdbdbf;
$font: serif;
$text_size: 16px;
$artical_text_size: 13px;
$content_size: 15px;
$color_background: #ffffff;
