$color_page: #efefef;
$color_header: #1fbcd3;
$color_border: #617d8a;
$color_text:#657d8a;
$article-title: #1697a6;
$post-description: #159587;
$pagebackground: #ffffff;
$font: sans-serif;
$text_size: 16px;
$artical_text_size: 13px;
$content_size: 15px;
$color_background: #ffffff;
